<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/head')%>
        <link rel="stylesheet" href="/css/stylecrear-editar.css">
        <link rel="stylesheet" href="/css/styleHeader.css">
        <title>Editar Producto</title>
        </head>

<body>
<%-include('./partials/header')%>
<main>
        <h3>Editar un producto existente</h3>
        <form action="/products/editar/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div>
                <label class="texto" for="name">Nombre del producto:</label>
                <input type="text" name="name" value="<%= producto.name %>" id="name">
            </div>
            <div>
                <label class="texto" for="description">Descripción:</label>
                <input type="text" name="description" value="<%= producto.description %>" id="description">
            </div>

            <div>
                <label class="texto" for="image">Imagen</label>
                <label class="label-imagen">
                    Seleccionar Imagen
                    <input type="file" name="image" class="input-imagen" id="image">
                </label>
            </div><br>
            <div>
                <label class="texto">Categoría del producto:</label>
            <select name="category" class="opciones">
                <option value="velas"<%= (producto.categorias.nombre == "velas")? "selected":"" %>>Velas</option>
                <option value="velones"<%= (producto.categorias.nombre == "velones")? "selected":"" %>>Velones</option>
                <option value="accesorios"<%= (producto.categorias.nombre == "accesorios")? "selected":"" %>>Accesorios</option>
                <option value="otra"<%= (producto.categorias.nombre == "otra")? "selected":"" %>>Otra</option>
            </select>
            </div><br>

            <div>
                <label class="texto" for="marca">Marca:</label>
                <input type="text" name="marca" value="<%= producto.marca %>" id="marca">
            </div>

            <div>
                <label class="texto" for="stock">Stock:</label>
                <input type="number" name="stock" value="<%= producto.stock %>" id="stock">
            </div>

            <div>
                <label class="texto" for="price">Precio:</label>
                <input type="number" name="price" value="<%= producto.price %>" id="price">
            </div>
            <div>
                <label class="texto" for="discount">Descuento:</label>
                <input type="number" name="discount" value="<%= producto.discount%>" id="discount">
            </div>
            <button type="submit" class="boton">EDITAR TU PRODUCTO</button>
        
            <p>¿Desea crear un producto? <a href="/products/crear" class="iniciar">Ir a crear producto</a></p>
        </form>
    </main>
<%-include('./partials/footer')%>
</body>

</html>