<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head')%>
    <link rel="stylesheet" href="../css/style1.css">
    <!--<link rel="stylesheet" href="../css/styleLista.css">-->
    <link rel="stylesheet" href="../css/styleHeader.css">
        <title>Document</title>
</head>

<body>
    <%-include('./partials/header')%>
        <main>
            <h1 class="title-products">Nuestros productos</h1>
            <section class="destacados">
                <% for(let i=0;i<productos.length;i++){%>
                <div class="products">
                    <article>
                    <a href="/products/product-detail/<%= productos[i].id %>" class="link-productos">
                        <img src="/bancoimagenes/<%=productos[i].image %>" alt="Vela" class="product_img">

                        <%if(productos[i].discount>0){%>
                        <p class="oferta"><%=productos[i].discount %><br>OFF</p>
                        <% } %>
                        <div class="main-article">

                            <h4 class="description"><%= productos[i].name %></h4>

                            <%if(productos[i].discount>0){%>
                                <p class="price-viejo">$<%= productos[i].price %></p>
                                <p class="price-actual">$<%= productos[i].price*(1-(productos[i].discount/100)) %></p>
                                <% }else{%>
                                <p class="price-actual2">$<%= productos[i].price%></p>
                            <% } %>
                            
                            

                            <%if(productos[i].stock!=0){%>
                            <p class="discount">En stock - Entrega inmediata</p>
                            <%}else{%>
                            <p class="discount">Sin stock disponible</p> 
                            <% } %>

                            <div class="botones">
                            <a href="/carro" class="b-ver" name="anadir">Añadir</a>
                            <a href="/products/product-detail/<%=productos[i].id %>" class="b-ver" name="detalles">Detalles</a>
                            </div>
                        </div>
                        </a>
                    </article>
                </div>
                <% } %>
            </section>

        </main>
        <%-include('./partials/footer')%>
</body>

</html>