<!DOCTYPE html>
<html>
<head>
<%-include('./partials/head')%>
<link rel="stylesheet" href="../css/styleLogin.css">
<link rel="stylesheet" href="../css/styleHeader.css">
<title>Login</title>
</head>

<body>
<%-include('./partials/header')%>
<main>
        <% if(locals.errores){%>
        <ol class="errores">
        <% for(const error in locals.errores ){ %>
        <li><%= errores[error].msg%></li>
        <% } %>
        </ol>
        <%}%>
        <ol class="errores"><%=locals.error%></ol>
        <h3>Logueate</h3>
        <form action="/user/login" method="POST" >
            <div>
                <label class="texto">Nombre Usuario:</label>
                <input type="text" name="usuario" placeholder="Ej. Juan Perez">
            </div>

            <div>
                <label class="texto">Contraseña:</label>
                <input type="password" name="password">
            </div>
            <button type="submit" class="boton">INGRESÁ</button>
            <p>¿No estas registrado? <a href="/register" class="iniciar">Registrate</a></p>
        </form>
           
        
    </main>
<%-include('./partials/footer')%>
</body>

</html>