<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/head')%>
        <link rel="stylesheet" href="/css/styleProductDetail.css">
        <link rel="stylesheet" href="/css/styleHeader.css">
        <title>Detalle de producto</title>
    </head>
<body>
<%-include('./partials/header')%>
<main>

                <div class="fotos">
                        <div><img src="/bancoimagenes/<%=producto.image %>" alt="Vela" class="principal"></div>
                        <div class="secundaria">
                            <img src="/bancoimagenes/<%=producto.image %>" alt="Vela">
                            <img src="/bancoimagenes/<%=producto.image %>" alt="Vela">
                            <img src="/bancoimagenes/<%=producto.image %>" alt="Vela">
                        </div>
                </div>
                <div class="descripcion">
                    <h3 class="titulo"><%=producto.name %></h3>
                    <h4 class="marca"><%=producto.marca %></h4>
                    <p class="price">$<%= producto.price*(1-(producto.discount/100)) %></p>
                    <div class="cant">
                        <label>Cantidad:</label>
                        <input type="text" name= "cantidad">
                    </div>
                    <div class="carrito"><h3>AÑADIR AL CARRITO</h3></div>

                    <div class="impuestos">
                    <%if(producto.stock!=0){%>
                    <h4 class="stock">En stock. Envío inmediato.</h4>
                    <%}else{%>
                    <h4 class="stock">Sin stock.</h4>
                    <% } %>
                    <h4>Impuestos incluidos</h4>
                    </div>
                
                    <h4 class="titulo-info">Descripción del producto</h4>  
                    <p class="info"><%=producto.description %></p>
                    <ul class="lista">
                        <li>Retirar las etiquetas antes de encender la vela.</li>
                        <li>La primera vez no encender menos de 30 minutos.</li>
                        <li>No exponer las velas a altas temperaturas o al sol.</li>
                        <li>Mantener fuera del alcance de los niños y mascotas.</li>
                        <li>Encender lejos de objetos que puedan incendiarse y jamás ausentarse dejándola encendida.</li>
                        <li>Mantener la vela libre de restos de mecha o fósforo</li>
                    </ul>
                    <div class="botones">
                    <a href="editar/<%=producto.id %>" class="boton">EDITAR</a>
                    <form action="/products/borrar/<%=producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="boton">ELIMINAR</button>
                    </form>

                    </div>
                </div>
                
        </main> 
<%-include('./partials/footer')%>  
    </body>

</html>