<!DOCTYPE html>
<html>
    <head>
        <%-include('./partials/head')%>
       <link rel="stylesheet" href="../css/styleRegister.css">
       <link rel="stylesheet" href="../css/styleHeader.css"> 
        <title>Register</title>
        </head>

<body>
<%-include('./partials/header')%>
<main>
    
        <% if(locals.errores){%>
        <ol class="errores">
        <% for(const error in locals.errores ){ %>
        <li><%= errores[error].msg%></li>
        <% } %>
        </ol>
        <%}%>
        <ol class="errores"><%=locals.error%></ol>

        <h3>Crea tu cuenta</h3>
        <!-- validacion front ver archivo js-->
        <div class="listaerrores"><ul></ul></div>
        <!-- validacion front ver archivo js-->
        <form action="/user/register" method="POST" enctype="multipart/form-data" class="formregister">
            <div>
                <label class="texto">Nombre Completo:</label>
                <input class="name" type="text" name="nombre" placeholder="Ej. Juan Perez" value="<%= locals.old && old.nombre ? old.nombre :'' %>">
            </div>
            <div>
                <label class="texto">Nombre Usuario:</label>
                <input class="usuario" type="text" name="usuario" placeholder="Ej. jperez" value="<%= locals.old && old.usuario ? old.usuario :'' %>">
                <% if(locals.msgRepetido){ %>
                    <p class="error"><%= locals.msgRepetido %> </p>
                  <% } %>
            </div>

            <div>
                <label class="texto">Contraseña:</label>
                <input class="password" type="password" name="password" placeholder ="Largo minimo 6 caracteres Ej:a12345">
            </div>
            <div>
                <label class="texto">Confirmar Contraseña:</label>
                <input class="password2" type="password" name="password2" placeholder ="Largo minimo 6 caracteres Ej:a12345">
            </div>

            <div>
                <label class="texto">Correo Electronico:</label>
                <input class="email" type="email" name="email" placeholder="Ej. juan.perez@gmail.com" value="<%= locals.old && old.email ? old.email :'' %>">
            </div>

            <div>
                <label class="texto">Edad:</label>
                <input class="edad" type="number" name="edad" placeholder="Ej. 34" value="<%= locals.old && old.edad ? old.edad :'' %>">
            </div>

            <div>
                <label class="texto">Telefono:</label>
                <input class="telefono" type="tel" name="telefono" placeholder="Ej. 2644766607 (Cod área + Cel sin 15)" value="<%= locals.old && old.telefono ? old.telefono :'' %>">
            </div>
            <div>
                <label class="texto">Imagen:</label>
                    <input type="file" id="image" name="image" class="input-imagen"> ? 
                </label><br>
            </div>
            <button type="submit" class="boton">CREA TU CUENTA</button>
            <input type="checkbox" name="terminos" class="cheq"><label for="terminos">Acepto los terminos y
                condiciones</label>
            <p>¿Ya tenes una cuenta? <a href="/login" class="iniciar">Iniciá Sesión</a></p>
        </form>
    </main>
<%-include('./partials/footer')%>
<script src="js/valiregistro.js"></script>
</body>

</html>